.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 700px;
	background-color: white;
	display: inline-block;
}

#heading {
    color:darkblue;
    font-weight: bolder;
    background-color:lightblue;
    width: 500px;
}

